body {
    font-family: sans-serif;
}
body {
    font-size: 19px;
}
h1 {
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 4px 4px #FFD300, 8px 8px #FF0000;
    color: #2E16B1;
}
header {
    background-color: gold;
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
}
main a {
    margin: 10px;
    font-size: 18px;
}
a {
    color: black;
}
li:hover {
    font-size: 23px;
    color: rgb(124, 101, 253);
    transition: 0.2s linear;
}
